* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    padding: 1.25rem;
  }
  
  .step-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
    margin-top: 0.625rem;
  }
  
  .circle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.3125rem;
    color: white;
  }
  .circle:hover{
    cursor: pointer;
    background-color: #77c043;
  }

  .l1,.l2,.l3{
    width: 1.875rem;
    height: 0.125rem;
    background-color: #d3d3d3;
    margin: 0 0.3125rem;

  }
  
  .circle.active {
    background-color: #77c043;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 75rem;
  }
  
  .left-section {
    background-color: white;
    padding: 1.875rem;
    text-align: left;
    width: 43.75rem;
    margin-left: 3.125rem;
  }
  .line1,.line2{
    height:0.1875rem;
    background-color: #d9f7e6;
    width: 37.5rem;
    margin: 1.25rem 0;
  }
  .left-section h2 {
    font-size: 2.5rem;
    margin-bottom: 3.4375rem;
    color: #333;
    font-weight: 500;
  }
  
  .left-section p {
    font-size: 1.5625rem;
    margin-bottom: 0.625rem;
    color: black;
  }
  .bxa1{
    display: flex;
    width: 37.5rem;
    align-items: center;
  }
  .bxaa1{
 margin-left: 1.5625rem;
 width: 21.875rem;
 text-align: left;
  }
  
  
  .cta-button {
    background-color: #d9f7e6;
    color: black;
    font-weight: 600;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    margin: 0.625rem 0;
    width: 12.5rem;
  }
  .cta-button:hover{
    cursor: pointer;
    background-color: #9ff5c4;
  }
  #text1{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.3125rem;
  }
  
  .right-section {
    flex: 1;
  }
  
  .profile-card {
    background-color: #d9f7e6;
    border-radius: 2.5rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 21.875rem;
    margin-top: 3.125rem;
  }
  
  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.9375rem;
  }
  
  .profile-avatar {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background-color: #d3d3d3;
    margin-bottom: 0.9375rem;
  }
  
  .profile-info h3 {
    margin: 0;
    color: #333;
    font-size: 1.875rem;
  }
  
  .profile-info p {
    margin: 0;
    color: #333;
    font-size: 1.25rem;
  }
  
  .rating {
    display: flex;
    align-items: center;
    margin-bottom: 0.9375rem;
  }
  
  .rating-value, .hourly-rate, .jobs {
    margin-left: 2.1875rem;
    color: #333;
  }
  
  .profile-description {
    text-align: center;
    color: black;
    font-weight: 600;
    margin-bottom: 1.875rem;
    margin-top: 0.625rem;
  }